@import "./colors";

.d-flex img{
    width: 50px;
}

@media (min-width: 992px) {
    .alto-100 { /*Es necesario para flex*/
        height: 100vh;
    }
}

@mixin background ($color) {
    background-color: $color;
}


@import "../node_modules/bootstrap/scss/bootstrap"; 



