.d-flex img{
    width: 50px;
}

@media (min-width: 992px) {
    .alto-100 { /*Es necesario para flex*/
        height: 100vh;
    }
}

@mixin background ($color) {
    background-color: $color;
}

.footer {
    @include background(#39b046);
}

.ground-green {
    @include background(#39b046);
}

.ground-green-muslo {
    @include background(#8ec544);
}

.ground-green-light {
    @include background(#b7d138);
}

.ground-green-dark {
    @include background(#264529);
}

.ground-green-middle {
    @include background(#0f6a39);
}


.background-while {
    background-color: #fff; 
}

@import "../node_modules/bootstrap/scss/bootstrap"; 


